:root {
  font-size: 60%;
  //BP:TABLET
  @media (min-width: 768px) {
    font-size: 69%;
  }

  //BP:DESKTOP
  @media (min-width: 1025px) {
    font-size: 62.5%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Heebo", sans-serif;
  color: #f7f7f7;
  background: #111;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
