/* :root {
  font-size: 60%;
  //BP:TABLET
  @media (min-width: 768px) {
    font-size: 69%;
  }
  
  //BP:DESKTOP
  @media (min-width: 1025px) {
    font-size: 62.5%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  scroll-behavior: smooth;
} */
